/*-------------------------------------------------main__faq--------------------------------*/
.faq__blocks {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.faq__block {
	display: flex;
	justify-content: space-between;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2);
	border-radius: 32px;
	padding: 38px 40px 19px 40px;
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	cursor: pointer;
	transition: all ease .6s;
	
	&:hover{
		transform: scale(1.01);
		background-color: #F7F7F7 ;
	}

	transform: translate(150px, 0px);
	opacity: 0;

	&._visible {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

.faq__text {
	color: #171717;
	position: relative;

	p{
		max-width: 90%;
		margin-bottom: 19px;
	}
}


.faq__sub-text {
	max-width: 95%;
	color: #333333;
	font-weight: 400;
	position: relative;
	transform: translate(0px, -40px);
	opacity: 0;
	max-height: 0;
	visibility: hidden;
	transition: transform ease .6s, opacity ease .6s, max-height ease .6s, visibility ease .6s;
}
.faq__sub-text-active{
	transform: translate(0px, 0px);
	max-height: 400px;
	opacity: 1;
	visibility: visible;
}

.faq__image {
	position: relative;
	top: -5px;
	background-color: rgba(23, 23, 23, 0.05);
	border-radius: 12px;
	padding: 17px 13px;
	display: flex;
	align-self: flex-start;
	
	.faq__img{
		transition: transform ease .5s;
	}

	.faq__img-active{
		transition: transform ease .5s;
		transform: rotate(180deg);
	}
}
.faq__button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;

	cursor: pointer;
	transition: all ease .6s;
	
	transform: translate(150px, 0px);
	opacity: 0;

	&._visible {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

.faq__btn{
	padding: 16px 86.5px;
	font-weight: 700;
	font-size: 17px;
	line-height: 130%;
	color: #FFFFFF;
	background-color: #333333;
	border: 2px solid #333333;
	border-radius: 16px;
	transition: all ease .5s;

	&:hover{
		background-color: #FFFFFF;
		color: #333333;
	}
}
/*-------------------------------------------------main__faq__media__<700px--------------------------------*/
@media (max-width: 700px) {
	.faq__block {
		padding: 20px 20px 5px 20px;

	}
	
	.faq__text {	
		p{
			width: 90%;
			margin-bottom: 15px;
		}
		.faq__sub-text{
			max-width: 100%;
			width: 100%;
		}
	}

	.faq__button{
		margin-top: 28px;
	}
	
	.faq__btn{
		padding: 13px 86.5px;
	}
}